<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Mercado Liebre | Home</title>
  <!-- Styles -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/styles.css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
  <!-- Icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <header class="main-header">
    <div class="main-header-top-bar">
      <img src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="main-logo">

      <form class="search-header" action="/" method="GET">
        <div class="search__field">
          <input type="text" name="search" id="search__product" placeholder="Buscar productos, marcas...">
        </div>

        <div class="button_content">
          <button type="submit" class="search__button"><i class="fas fa-search"></i></button>
        </div>
      </form>

      <h2 class="copy-header">
        <i class="fas fa-hand-holding-usd"></i>
        Comprá en cuotas y sin tarjeta de crédito
      </h2>
    </div>

    <a href="#" class="hamburger-button">
      <i class="fas fa-bars"></i>
    </a>

    <nav class="main-navbar">
      <ul class="left-navbar">
        <li><a href="/">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>

      <ul class="right-navbar">
        <li><a href="/register">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
      </ul>
    </nav>
  </header>

  <main class="main-content">
    <div class="main-content-section">
      <div class="main-contnet-banner">
        <img src="images/img-home-banner.jpg" alt="Banner" class="banner">
      </div>

      <section class="main-content-last-view">
        <h2>Basado en tu última visita</h2>

        <div class="content-articles">
          <article class="main-content-article">
            <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="article-image">
            <div class="article-info">
              <i class="fas fa-truck"></i>
              <div>
                <p class="article-price">$6.770</p>
                <p class="article-off">40% OFF</p>
              </div>
              <p class="article-description">Cafetera Moulinex</p>
            </div>
          </article>

          <article class="main-content-article">
            <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class="article-image">
            <div class="article-info">
              <i class="fas fa-truck"></i>
              <div>
                <p class="article-price">$230.000</p>
                <p class="article-off">20% OFF</p>
              </div>
              <p class="article-description">MacBook Pro 2019</p>
            </div>
          </article>

          <article class="main-content-article">
            <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="article-image">
            <div class="article-info">
              <i class="fas fa-truck"></i>
              <div>
                <p class="article-price">$70.500</p>
                <p class="article-off">10% OFF</p>
              </div>
              <p class="article-description">Samsung Galaxy S10</p>
            </div>
          </article>

          <article class="main-content-article">
            <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="article-image">
            <div class="article-info">
              <i class="fas fa-truck"></i>
              <div>
                <p class="article-price">$23.200</p>
                <p class="article-off">5% OFF</p>
              </div>
              <p class="article-description">SmartTv Samsung 43"</p>
            </div>
          </article>
        </div>
      </section>

      <section class="main-content-section-off">
        <h2>Sección de Ofertas</h2>

        <div class="content-articles">
          <article class="main-content-article">
            <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="article-image">
            <div class="article-info">
              <i class="fas fa-truck"></i>
              <div>
                <p class="article-price">$6.770</p>
                <p class="article-off">40% OFF</p>
              </div>
              <p class="article-description">Cafetera Moulinex</p>
            </div>
          </article>

          <article class="main-content-article">
            <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class="article-image">
            <div class="article-info">
              <i class="fas fa-truck"></i>
              <div>
                <p class="article-price">$230.000</p>
                <p class="article-off">20% OFF</p>
              </div>
              <p class="article-description">MacBook Pro 2019</p>
            </div>
          </article>

          <article class="main-content-article">
            <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="article-image">
            <div class="article-info">
              <i class="fas fa-truck"></i>
              <div>
                <p class="article-price">$70.500</p>
                <p class="article-off">10% OFF</p>
              </div>
              <p class="article-description">Samsung Galaxy S10</p>
            </div>
          </article>

          <article class="main-content-article">
            <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="article-image">
            <div class="article-info">
              <i class="fas fa-truck"></i>
              <div>
                <p class="article-price">$23.200</p>
                <p class="article-off">5% OFF</p>
              </div>
              <p class="article-description">SmartTv Samsung 43"</p>
            </div>
          </article>
        </div>
      </section>
    </div>
  </main>

  <footer id="footer-mercadoliebre">
    <div class="footer-content">
      <section class="footer-info">
        <div>
          <i class="fas fa-credit-card"></i>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div>
          <i class="fas fa-gift"></i>
          <h4>Envío gratis desde $ 2.500</h4>
          <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div>
          <i class="fas fa-user-shield"></i>
          <h4>Seguridad, de principio a fin</h4>
          <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
      </section>

      <section class="footer-copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </div>
  </footer>
</body>

</html>