<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Mercado Liebre | Register</title>
  <!-- Styles -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/register.css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
  <!-- Icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <header class="main-header">
    <div class="main-header-top-bar">
      <img src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="main-logo">

      <div class="search-header">
        <i class="fas fa-search"></i>
        Buscar productos, marcas
      </div>

      <h2 class="copy-header">
        <i class="fas fa-hand-holding-usd"></i>
        Comprá en cuotas y sin tarjeta de crédito
      </h2>
    </div>

    <a href="#" class="hamburger-button">
      <i class="fas fa-bars"></i>
    </a>

    <nav class="main-navbar">
      <ul class="left-navbar">
        <li><a href="/">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>

      <ul class="right-navbar">
        <li><a href="/register">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
      </ul>
    </nav>
  </header>

  <main class="main-content-form">
    <h2>Registrarse</h2>
    
    <form class="form" action="#" method="GET">
      <div class="form__field">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" class="box__field" pattern=".{4,}" title="Ingresa al menos 4 caracteres" required>
        <span class="feedback"></span>
      </div>

      <div class="form__field">
        <label for="username">Usuario</label>
        <input type="text" name="username" id="username" class="box__field" required>
        <span class="feedback"></span>
      </div>

      <div class="form__field">
        <label for="email">Correo</label>
        <input type="email" name="email" id="email" class="box__field" required>
        <span class="feedback"></span>
      </div>

      <div class="form__field">
        <label for="birthdate">Fecha de nacimiento</label>
        <input type="date" name="birthdate" id="birthdate" class="box__field" required>
        <span class="feedback"></span>
      </div>

      <div class="form__field">
        <label for="home">Domicilio</label>
        <input type="text" name="home" id="home" class="box__field">
        <span class="feedback"></span>
      </div>

      <div class="form__field">
        <label>Perfil</label>
        <div class="profile-radio">
          <label>
            Comprador <input type="radio" name="profile" value="comprar" required>
          </label>
          <label>
            Vendedor <input type="radio" name="profile" value="vender" required>
          </label>
        </div>
        <span class="feedback"></span>
      </div>

      <div class="form__field">
        <label>Categoría</label>
        <div class="category-checkbox">
          <label>
            Electro <input type="checkbox" name="category" value="electro">
          </label>
          <label>
            Moda <input type="checkbox" name="category" id="moda" value="moda">
          </label>
          <label>
            Hogar <input type="checkbox" name="category" value="hogar">
          </label>
          <label>
            Juguetería <input type="checkbox" name="category" value="jugueteria">
          </label>
          <label>
            Vida sana <input type="checkbox" name="category" value="vida">
          </label>
        </div>
        <span class="feedback"></span>
      </div>

      <div class="form__field">
        <label for="profilePicture">Imagen de perfil</label>
        <input type="file" name="profilePicture" id="profilePicture" accept=".jpg, .png">
        <span class="feedback"></span>
      </div>

      <div class="form__field">
        <label for="password">Contrase&ntilde;a</label>
        <input type="password" name="password" id="password" class="box__field" pattern=".{7,}" title="Ingresa al menos 7 caracteres" required>
        <span class="feedback"></span>
      </div>

      <div class="form__field">
        <label for="confirmpassword">Confirmar contrase&ntilde;a</label>
        <input type="password" name="confirmpassword" id="confirmpassword" class="box__field" pattern=".{4,}" title="Ingresa al menos 7 caracteres" required>
        <span class="feedback"></span>
      </div>

      <div class="form__buttons">
        <button type="reset" class="form__button_reset">Borrar</button>
        <button type="submit" class="form__button_submit">Enviar</button>
      </div>
    </form>
  </main>

  <footer id="footer-mercadoliebre">
    <div class="footer-content">
      <section class="footer-info">
        <div>
          <i class="fas fa-credit-card"></i>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>
    
        <div>
          <i class="fas fa-gift"></i>
          <h4>Envío gratis desde $ 2.500</h4>
          <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
    
        <div>
          <i class="fas fa-user-shield"></i>
          <h4>Seguridad, de principio a fin</h4>
          <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
      </section>   
  
      <section class="footer-copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </div>
  </footer>
</body>

</html>