* {  
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

/**
  HEADER -----------------------------  
*/
.main-header {
  background-color: #EAC926;
  padding: 20px;
}

.main-logo {
  display: flex;
  margin: 0 auto 20px;
  max-width: 200px;  
}

.search-header {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  align-self: center;
}

.copy-header {
  font-weight: 400; 
  text-align: center; 
}

.hamburger-button {
  background-color: #03264C;
  color: white;
  display: block;
  max-width: 40px;
  padding: 8px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 17px;
  margin: auto;
}

.main-navbar {
  display: none;
}

.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}

/**
  MAIN -----------------------------
*/
.main-content {
  background-color: #ebebeb;
  text-align: center;
}

.main-content-section {
  max-width: 1200px;
  margin: auto;
}

.main-contnet-banner {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.banner {
  width: 100%;
  min-width: 400px;
  max-width: 1200px;  
}

.main-content section {
  padding: 10px 0;
}

.content-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main-content-article {
  background-color: white;
  margin-bottom: 20px;
  padding: 5px 0;
  width: 250px;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.main-content-article:hover {
  box-shadow: 0px 4px 4px 2px rgb(100, 100, 100, 0.5);
}

.main-content-article:hover .article-description {
  opacity: 75%;
}

.main-content-article:hover .article-info > i {
  transform: rotateZ(-90deg);
}

.article-info {
  border-top: 1px solid #ebebeb;
  text-align: left;
  padding: 20px 20px 0;
  position: relative;
}

.article-info > i,
.article-off {
  color: #39b54a;
}

.article-info > i {  
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: all 0.2s ease-in-out;
  z-index: 3;
}

.article-info > div {
  display: flex;
}

.article-image {
  width: 200px;
}

.article-price {
  flex-grow: 0.2;
}

.article-off {
  font-weight: 700;
  flex-grow: 0.8;
  font-size: 14px;
  align-self: center;
}

.article-description {
  text-align: center;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: -80px;
  left: 0;
  bottom: 50px;
  font-weight: bold;
  background-color: black;
  color: white;
  width: 100%;  
  padding: 10px;
  opacity: 0;
  overflow: hidden;
}

/**
  FOOTER -----------------------------
*/

#footer-mercadoliebre {  
  background-color: #EAC926;
  padding: 40px 10px 5px;
}

.footer-content {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.footer-content .footer-info > div {
  margin-bottom: 40px;
  padding: 0 5px;
}

.footer-content .footer-info div > i {
  color: #03264C;
  font-size: 40px;
  transition: all 0.2s ease-in-out;
}

.footer-content .footer-info div > i:hover {
  color: blue;
  transform: scale(1.1);
}

.footer-copyright {
  font-size: 12px;
}

/**
  MEDIA -----------------------------
*/
@media (min-width: 481px) {
  .main-header-top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-logo {
    margin: 0 auto;
  }

  .main-navbar {
    display: block;
  }

  .hamburger-button {
    display: none;
  }

  .main-content-article {    
    width: 45%;
    max-width: 300px;
  }

  .main-logo {
    flex-grow: 0.5;
  }
  
  .search-header {
    flex-grow: 0.5;
  }
  
  .copy-header {
    flex-grow: 1;
  }  
}

@media (min-width: 800px) {
  .copy-header {
    max-width: 350px;
    text-align: right;
  }

  .main-navbar {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .main-navbar ul {
    display: flex;
  }

  .main-navbar li {
    margin: 0 5px;
  }

  .main-content-article {
    width: 20%;
    max-width: 250px;
  }

  .article-image {
    width: 100%;
    max-width: 200px;
  }  

  .footer-content {
    max-width: 1200px;
    margin: auto;
    text-align: center;
  }

  .footer-info {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .copy-header {
    max-width: 450px;
  }
  
  .main-header-top-bar,
  .main-navbar {
    max-width: 1200px;
    margin: auto;
  }

  .main-navbar li {
    margin: 0 10px;
  }

  .main-navbar a {
    font-size: 20px;
  }
}